@import "bootstrap-sprockets";
@import "bootstrap";
.navbar.navbar-default {
  border-radius: 0px !important;
  .navbar-brand {
    padding: 0px;
    img {
      height: 40px;
      margin: 5px 35px;
    }
  }
}
.custom-badge {
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding: 10px;
  background: darkblue;
  color: white;
  border-radius: 10px;
}
.usa-flag {
	height: 75px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.country-card {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid lightgray;
  border-radius: 5px;
  img {
    margin: 0 auto;
    border: 2px solid darkgray;
    border-radius: 5px;
  }
}